
#NodeBattery {
    text-align: center;
    height: 200px;
    width: 142px;
    color: #61a08e;
    border-radius: 7.5px;
    position: fixed;
    left: 2%;
}

#summary {
    width: 400px;
    position: relative;
    left: 10px;
}

