.test {
  height: 10000px;
  background-color: aqua;
}

.container {
  height: 100% !important;
  width: 100% !important;
  background-color: #e4e5e6;
  margin: 0px;
  padding-top:75px;
}
.screen {
  background-color: #e4e5e6;
  height: 100vh !important;

}

.Navbar {
  background-color: white;
}
