# Copy this file to `env.sh` and fill in missing information as needed.
# Do not push `env.sh` into the repository as it may contain sensitive information.

# This development-specific environment setup script should be sourced for
# local development to set the necessary settings keys. Reference it to your
# workon postactivate script for easy environment setup.

# This script also serves to document environment variables that will need to
# be set for deployment. Be sure all vars are set in this project's deploy yml
# files as the `init_env` structure. Ansible will write these vars out to
# a deployment specific script on the server. The deployment env script is
# used by Upstart as well as being sourced in the virtualenvironment when
# initiated via workon.

# Depending on your system and what you are working on, you may need to fill
# these in. In most cases, they can be left blank
#export TMPDIR=/tmp # likely already in your environment

# These will not generally change for development setup
export DJANGO_SETTINGS_MODULE=core.settings.dev
export PROJECT_NAME=sensorgridapi
export STATIC_URL=/static/
export STATIC_TMPDIR=${TMPDIR}${PROJECT_NAME}_static

# DATABASES

# Use sqlite3 only if your development work does not depend on postgres specifics
# In general, it will be preferable to use postgres
#DB_ENGINE__DEFAULT=django.db.backends.sqlite3

# default database
export DB_ENGINE__DEFAULT=django.db.backends.postgresql_psycopg2
export DB_NAME__DEFAULT=$PROJECT_NAME
export DB_USER__DEFAULT=$PROJECT_NAME
export DB_PASSWORD__DEFAULT=$PROJECT_NAME
export DB_HOST__DEFAULT=127.0.0.1
export DB_PORT__DEFAULT=5432
